.pagination {
  display: flex;
  align-items: center;
  width: 100%;
  color: black;
  background-color: #fff;
  padding: 20px 0 10px 0;
  height: 35px;
}

.pagination__info {
  position: absolute;
  display: flex;
  align-items: center;
}
.pagination__info div {
  margin-right: 20px;
}
.pagination__info span {
  font-size: 16px;
  margin-right: 5px;
}
.pagination__info strong {
  font-size: 18px;
  margin-right: 5px;
  font-weight: bold;
}

.pagination__pager {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.pagination__container {
  align-items: center;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  list-style: none;
}

.pagination__container li {
  cursor: pointer;
  margin: auto 3px;
}
.pagination__container li.active {
  pointer-events: none;
}
.pagination__container li a {
  text-decoration: none;
  padding: 5px 11px;
  border-radius: 0;
  font-weight: bold;
  font-size: 17px;
  color: #0d0d1e;
}
.pagination.pagination__container li.active a {
  background-color: transparent;
  pointer-events: none;
  color: #4caf50;
  border-radius: 0;
}
.pagination.pagination__container li a:focus {
  outline: none;
}
.pagination.pagination__container li a:hover:not(.active) {
  background-color: transparent;
  color: rgb(63, 63, 63);
}
.pagination.pagination__container li.disabled a:hover {
  color: #0d0d1e;
  opacity: 1;
}
.pagination .pagination li:not(.disabled) a:hover:not(.active) {
  background-color: transparent;
  opacity: 0.6;
}

.pagination__prev,
.pagination__next {
  background-color: rgb(240, 240, 240);
  color: #0d0d1e;
  opacity: 0.7;
}
.pagination__prev.disabled,
.pagination__next.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.pagination__break,
.pagination__break a {
  pointer-events: none;
}

/* ------------- RESPONSIVE ----------- */
@media screen and (max-width: 992px) {
  .pagination {
    display: table;
    padding: 10px 0 10px 0;
    height: 60px;
    vertical-align: center;
  }
  .pagination__info {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .pagination__pager {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .pagination__pager {
    margin: 0 0 0 auto;
  }
}
@media screen and (max-width: 575px) {
  .pagination__prev,
  .pagination__next {
    display: block;
  }
  .pagination__container li {
    margin: auto 1px;
  }
}
